<?xml version="1.0"?>
<appSettings>
	<add key="Host" value="smtp.gmail.com"/>
	<add key="EnableSsl" value="true"/>
	<add key="UserName" value="njjmsymposium@gmail.com"/>
	<add key="Password" value="iastmkxaxkilbkvh"/>
	<add key="Port" value="587"/>
	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	<add key="BaseUrl" value="https://10.22.3.91/ns/reset_password.aspx/"/>
</appSettings>
