<?xml version="1.0"?>
<connectionStrings>
	<add name="NSSWCIConnectionString" connectionString="Integrated Security=true;Initial Catalog=NSSWCI;Data Source=DESKTOP-HKML31V\MSSQLSERVER01"
  providerName="System.Data.SqlClient" />
<!-- <add name="NSSWCIConnectionString" connectionString="Integrated Security=true;Initial Catalog=NSSWCI;Data Source=LAPTOP-G28Q5T8K"
  providerName="System.Data.SqlClient" />-->
<!-- <add name="NSSWCIConnectionString" connectionString="Data Source=10.22.3.161;User Id=adg;Password=adg;Initial Catalog=NSSWCI;Integrated Security=false;"
 providerName="System.Data.SqlClient" />-->
</connectionStrings> 
