@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



:root{
    --blueColor: #000066;
    --grayColor: #615b5b;
    --whiteColor: #ffffff;
    --blackColor: #000000;
	--darkgrayColor: #474646;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%; 
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2,h3,h4,h5,h6 {
	color: var(--blackColor);
}

/* CSS */

.header {
	border: 1px solid var(--blueColor);
}
.logo img {
	max-width: 230px;
}
.swachBharatlogo {
	max-width: 125px;
}
.footer {
	background-color: var(--darkgrayColor);
	padding: 12px 0;
}
.footer p {
	color: var(--whiteColor);
    font-size: .9rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}
.card-section {
	padding: 0 0 10px;
}
.form-check {
	padding-left:0;
}
.card-wrap {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#99dbfb+0,e4f7fe+50,a2dffc+100 */
	background: linear-gradient(to right, #99dbfb 0%,#e4f7fe 50%,#a2dffc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 30px;
	border-radius: 15px;
	border: 2px solid #767676;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.card-wrap-home {
	padding: 18px 40px;
	height: 100%;
}
.card-wrap-home h3 {
	color: var(--blackColor); 
	font-size: 1.4rem; 
	font-weight: 600; 
	letter-spacing: -0.5px;
	margin-bottom: 20px;
}
.card-section h4 {
	color: var(--blackColor);
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 7px;
}
.card-section h2,.faq-section h2 { 
	color: var(--blackColor);
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 10px;
}
.card-section p {
	padding: 0 9%;
	margin: 0 auto 15px;
	rdbParticipants color:#070707;
	font-size: .9rem;
	font-weight: 500;
}
.form-control, .form-select {
	color: #867E7E;
	font-size: .9rem;
	border-radius: 10px;
	border: 1px solid #006;
	padding: 9px 15px 10px 40px;
}
	 
	.form-control:focus, .form-select:focus {
		box-shadow: none;
		border: 1px solid var(--grayColor);
	}
.form-check-input[type=checkbox]{
	border: 1px solid var(--blackColor);
    border-radius: 0;
}
.form-check-input:focus {
	border-color: inherit;
    outline: 0;
    box-shadow: none;
}
.form-check label {
	font-size: .8rem;
    line-height: 1.5rem;
    padding-left: 8px;
    font-weight: 700;
	color:var(--blackColor);
}
.forgot-btn {
	color:#F10E0E;
	font-size: .9rem;  
    font-weight: 700;
	text-decoration:none;
	text-transform: capitalize;
}
.remember-btn {
	color: #12017B;
	font-size: .9rem;  
    font-weight: 700;
	text-decoration:underline;
	text-transform: capitalize;
}
.remember-wrap {
	color:var(--blackColor); 
	font-size: .9rem;  
    font-weight: 700;
	text-decoration:none;
	text-align: right;
}
.main-content { 
    padding: 15px 0;
    margin-bottom: 0;
	background: url(../images/main-content.png) no-repeat scroll left top;
	background-size: cover;
	-webkit-background-size: cover;
}

.banner {
	overflow: hidden;
	margin-bottom: 10px;
}
.banner h2 {
	color:var(--blueColor);
	font-size: 1.8rem;
	font-weight:700;
	margin-bottom: 10px;
}
.banner li{ 
	color: var(--blackColor);
    font-size: .95rem;
    font-weight: 700;
	margin-bottom: 5px;
}
.banner li span {
	min-width: 35%;
    display: inline-block;
	color: var(--blackColor);
    font-size: .95rem;
    font-weight: 700;

}
.input-container {
	position: relative;
}
.input-container i { 
    position: absolute;
    left: 13px;
    top: 13px;
    width: 20px;
    height: 20px;
    display: block;
    z-index: 1;
    background-size: 100% auto;
}
.input-container i.key-icon {
	background: url(../images/key.png) no-repeat scroll 0 0;
    background-size: 100% auto;
}
.banner li strong {
	color:var(--blueColor);
	font-weight: 700;
}
.login-btn, .login-btn:hover, .common-btn, .common-btn:hover {
	background-color: var(--blueColor);
    padding: 9px 10px;
    display: block;
    width: 100%;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    border: 0;
}
.card-wrap-sm a{
	padding:15px 10px;
	padding-right: 25px;
}
.card-wrap h4, .card-wrap-sm h4 a {
	font-size: 1rem;
	color:var(--blackColor);
}

.card-wrap ul {
	list-style-type: disc;
	text-align: justify;
}

.sub-guide-sec .card-wrap ul {
	list-style-type: disclosure-closed;
}
.card-wrap-sm h4 a {
	text-decoration: none;
	display: block;
}
.card-wrap.card-wrap-guide, .card-wrap.card-wrap-faq {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2695d4+0,2dc7ff+50,2695d4+100 */
	background: linear-gradient(to right, #2695d4 0%,#2dc7ff 50%,#2695d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
	.card-wrap.card-wrap-guide:hover, .card-wrap.card-wrap-faq:hover {
		background: #2695d4;
	}
.card-wrap-sm:hover {
	background: #7fcef5;
}
.card-wrap.card-wrap-home li {
	color: var(--darkgrayColor);
	font-size: 0.9rem;
	font-weight: 500;
}
.register-btn, .login-btn2 {
	display: inline-block;
	border-radius: 10px; 
	background: #615B5B;
	text-decoration: none;
	min-width: 180px;
	text-align: center;
	text-transform: capitalize;
	color: var(--whiteColor);
	font-size: 0.9rem;
	line-height: 30px;
	margin: 0 10px;
	font-weight: 600;
} 
.login-btn2{
	background: #F10E0E;
}

.card-wrap-2 h3 {
	color: var(--blackColor); 
	font-size: 1.4rem; 
	font-weight: 600; 
	letter-spacing: -0.5px;
	margin-bottom: 5px;
}
.card-wrap-2 span {
	display: block;
	color: var(--darkgrayColor);
    font-size: 0.9rem;
    font-weight: 500;
}
.card-wrap-2 p {
	color: #070707;
	font-size: .9rem;
	font-weight: 600;
	margin:0;
	padding:0;
}
.card-wrap-sm { 
	padding:0;
	text-align: center;
}
.card-wrap-sm h4 {
	position: relative;
	margin-bottom: 0;
}
.card-wrap-sm h4 i {
	position: absolute;
	right: 10px;
    top: 16px;
}
.faq-section h2 {
	margin-bottom: 0;
}
.faq-section .accordion-item:first-of-type .accordion-button,
.faq-section .accordion-item:first-of-type{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.faq-section .accordion-item:last-of-type,
.faq-section .accordion-item:last-of-type .accordion-button {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}
.faq-section .accordion-button{
	box-shadow: none;
	border: 1px solid var(--whiteColor);
	background: var(--blueColor);
}
.faq-section .accordion-button{
	color: #FFF;  
	font-size: 0.9rem; 
	font-weight: 600; 
}
.faq-section p {
	color: #070707;
	font-size: .9rem;
	font-weight: 500;
}
.faq-section .accordion-button::after {
	content:"\f055";
	font-family: "Font Awesome 5 Free";
}
.faq-section .accordion-button:not(.collapsed)::after,
.faq-section .accordion-button::after {
	background-image: none;
	transform: none;
}
.faq-section .accordion-button:not(.collapsed)::after{
	content:"\f057";
	font-family: "Font Awesome 5 Free";
}
.forgot-wrap h4{ 
    font-weight: 700;
    text-decoration: none;
	text-align: center;
}
.forgot-wrap h5 {
	text-align: center;
	font-weight: 400;
}
.forgot-wrap .fa-lock {
	color:  #F10E0E;
	font-size: 1.5rem;
}
.top-sidebar {
	display: flex;
 	 flex-wrap: nowrap;
	  justify-content: flex-end;
}
.top-sidebar > span {
	margin-right: 10%;
}
.username { 
	color: #F10E0E; 
	font-size: 0.9rem; 
	font-weight: 700; 
	display: inline-block;
	vertical-align: middle;
}
.username-wrap {
	display: inline-block;
	vertical-align: middle;
}
.username-wrap strong {
	color: #000;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
}
	.dropdown a {
		text-decoration: none;
	}
.dropdown i {
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
}
.dropdown i.fa-angle-down {
	font-size: 1rem;
}
.dropdown-menu {
	margin-top: 5px !important;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .22);
}
.dropdown-menu a {
	font-size: 0.8rem;
	color:var(--blackColor);
	font-weight: 600;
}
.sub-guide-sec h4 i{
	font-size: 2.5rem;
	color:#008000;
}
.sub-guide-sec h2 {
	color: #F10E0E;
	text-transform: uppercase; 
}
.username strong{
	color:var(--blackColor);
	font-weight: 600;
}

.edit-btn i {
	font-size: 1rem;
	color: #fff;
}

.file-upload-wrap .form-control {
	padding:0 10px;
	line-height: 42px;
}

#radioButtonList, #rdbParticipants {
	width: 100%;
	margin-bottom: 10px;
}
#rdbParticipants { 
	margin-bottom: 0;
}
	#radioButtonList tr, #rdbParticipants tr {
		display: inline-table;
		width: 50%;
	}
	#radioButtonList label, #rdbParticipants label {
		margin-left: 10px;
	}
	#radioButtonList input, #rdbParticipants input {
		display: inline-block;
		margin-top: 6px;
	}
  

#txtemail, #ddlCategories2 {
	display: block;
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	background-color: var(--bs-form-control-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: #867E7E;
	font-size: .9rem;
	border-radius: 10px;
	border: 1px solid #006;
	padding: 9px 15px 10px 40px;
}
 
.modal-title {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bold;
}
.modal-footer {
	justify-content: center;
}
.modal-footer input{
	margin: 0;
    padding: 7px 32px;
}
.modal-content {
	background: linear-gradient(to right, #99dbfb 0%,#e4f7fe 50%,#a2dffc 100%);
}
.modal-header {
	border-bottom: 1px solid #a7a7a7;
}
.modal-footer {
	border-top: 1px solid #a7a7a7;
}
@media screen and (max-width: 1349px) {
	.banner li span {
		min-width: 30%;
		font-size: 0.8rem;
	}
	.banner h2 {     
		font-size: 1.5rem;  
	}
	.banner li small,
	.banner li strong,
	.banner li  {
		font-size: 0.8rem;
	}
	.card-section h2, .faq-section h2,
	.card-wrap-home h3,.card-wrap-2 h3 {
		font-size: 1.2rem;
	}
	


}

@media screen and (max-width: 1199px) {
	

}

@media screen and (max-width: 991px) {


} 
@media screen and (max-width: 767px) {

	.banner h2 {
		font-size: 1.2rem;
	}
	.card-wrap-home {
		height: auto;
		margin-bottom: 20px;
	}
	.card-section p,
	.card-wrap.card-wrap-home li,
	.footer p {
		font-size: .8rem;
	}
	.card-section h2, .faq-section h2,
	.card-wrap-home h3, .card-wrap-2 h3 {
		font-size: 1rem;
	}
	.logo img {
		max-width: 170px;
	}
	.swachBharatlogo {
		max-width: 80px;
	}
	.card-section {
		padding: 0 0 10px;
	}
	.username {
		font-size: 0.75rem;
	}
	.swachBharatlogo2{
		display: none;
	}
	.dropdown i {
		font-size: 1rem;
	}
}

@media screen and (max-width: 576px) {


	.banner h2 {
		font-size: 1rem;
	}
	.card-section h2, .faq-section h2,
	.card-wrap-home h3 {
		font-size: 0.9rem;
	}
	.card-section p, .card-wrap.card-wrap-home li,
	.banner li span,
	.footer p{
		font-size: .75rem;
	}
	.banner li span {
		min-width: 35%;
	}
	.register-btn, .login-btn2{
		min-width: 130px;
	}



}